@use './generic-button' as *;

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    -webkit-touch-callout: none;
    overscroll-behavior: none;
    touch-action: none;
    background: rgb(49, 49, 49);
    font-family: Arimo;
    user-select: none;
    margin:0;
}

img, a {
    -webkit-user-drag: none;
    user-drag: none;
}

.content-1080p {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    border: dashed 1px black;
    background-color: rgb(7, 7, 7);
}

strong {
    font-weight: 700;
}

.screen {
    width: 1920px;
    height: 1080px;
    background: white;
    border:  dashed 1px gray;
    overflow: hidden;
}

small {
    font-style: normal;
}

.relative {
  position: relative;
}

.navbar-text-link {
    color: rgba($color: #fff, $alpha: 0.6);
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}